<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>

    <module name="TreeWalker">
        <!-- Règles de base pour EcoGuard -->
        <module name="AvoidStarImport"/> <!-- Interdit les import .* -->
        <module name="NeedBraces"/>      <!-- Oblige les accolades {} -->
        <module name="LeftCurly"/>       <!-- Accolade sur la même ligne -->
    </module>
</module>
